<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository>./.mvn/.m2</localRepository>
  <interactiveMode/>
  <offline/>
  <pluginGroups/>
  <servers>
    <server>
      <id>jfrog-proxy</id>
      <username>sid-jfrog-scmqa</username>
      <password>Jfrogscmqa@123</password>
    </server>
    <server>
      <id>jfrog-hosted-release</id>
      <username>sid-jfrog-scmqa</username>
      <password>Jfrogscmqa@123</password>
    </server>
    <server>
      <id>jfrog-artifactory</id>
      <username>sid-jfrog-scmqa</username>
      <password>Jfrogscmqa@123</password>
    </server>
  </servers>
  <mirrors>
    <mirror>
      <id>jfrog-proxy</id>
      <mirrorOf>jfrog-proxy</mirrorOf>
      <url>https://devopsartifact.jio.com/artifactory/mvn_all</url>
    </mirror>
    <mirror>
      <id>jfrog-hosted-release</id>
      <mirrorOf>jfrog-hosted-release</mirrorOf>
      <url>https://devopsartifact.jio.com/artifactory/jfs-scm_automation__dev__mvn</url>
    </mirror>
    <mirror>
      <id>jfrog-artifactory</id>
      <mirrorOf>jfrog-artifactory</mirrorOf>
      <url>https://devopsartifact.jio.com/artifactory</url>
    </mirror>
  </mirrors>
  <proxies/>
  <profiles>
    <profile>
      <id>jio</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>jfrog-proxy</id>
          <name>jfrog-proxy</name>
          <url>https://devopsartifact.jio.com/artifactory/mvn_all</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </repository>
        <repository>
          <id>jfrog-hosted-release</id>
          <name>jfrog-hosted-release</name>
          <url>https://devopsartifact.jio.com/artifactory/jfs-scm_automation__dev__mvn</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </repository>
        <repository>
          <id>jfrog-artifactory</id>
          <name>jfrog-artifactory</name>
          <url>https://devopsartifact.jio.com/artifactory</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>jfrog-proxy</id>
          <name>jfrog-proxy</name>
          <url>https://devopsartifact.jio.com/artifactory/mvn_all</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>jfrog-hosted-release</id>
          <name>jfrog-hosted-release</name>
          <url>https://devopsartifact.jio.com/artifactory/jfs-scm_automation__dev__mvn</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>jfrog-artifactory</id>
          <name>jfrog-artifactory</name>
          <url>https://devopsartifact.jio.com/artifactory</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles/>
</settings>
